* {
    margin: 0px;
    padding: 0pc;
    box-sizing: border-box;
}
img {
    height: 60px;
    width: 60px;
}
input {
    width: 18rem;
    height: 3vh;
}
main {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
}
h1 {
    font-size: 3vh;
}
h2 {
    font-size: 3.5vh;
}
h3 {
    font-size: 2.7vh;
}
h4 {
    padding-top: 1rem;
    background-color: rgb(187, 187, 187);
    font-size: 2vh;
    height: 50px;
    text-align: center;
}
h5 {
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-top: 5px;
}
p {
    font-size: 2vh;
}
.navbar {
    font-size: 20px;
    background-color: lightgray;
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgb(84, 84, 84);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 18vh;
}
button {
    height: 3.5vh;
    width: 8rem;
    font-size: 17px;
    font-weight: 900;
    background-color: rgb(255, 196, 0);
    border: none;
}
button:hover {
    background-color: rgb(255, 219, 101);
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.info {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
    grid-row-gap: 55px;
    font-size: 18px;
    margin-left: 7rem;
    margin-bottom: 7rem;
}
i.fas {
    color: rgb(232, 152, 3);
}
iframe{
    min-width: 40%;
    background-color: gray;
    margin-bottom: 7%;
  }
  .container2 {
      display: flex;
      justify-content: center;
  }
  .cards {
      border-color: black;
      border-width: 1px;
      border-style: solid;
      background-color: lightgray;
      height: 22rem;
      width: 20rem;
      margin-left: 4rem;
      margin-bottom: 5rem;
  }
  .card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: 2.5rem;
      margin-top: 15px;
  }
  .card-button {
      margin-top: 1rem;
  }
  footer {
      display: flex;
      justify-content: center;
      background-color: lightgray;
  }
  .box {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      background-color: rgb(190, 190, 190);
      width: 65%;
      height: 5rem;
  }
  .box2 {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  ul {
      display: flex;
      gap: 3rem;
  }
  li {
    text-decoration: none;
    list-style: none;
  }

@media screen and (min-width: 1050px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 100px;
        margin-right: 60px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}
@media only screen and (max-width: 600px) {
    h1 {
        text-align: center;
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    form {
        margin-top: 1rem;
    }
    iframe {
        width: 23rem;
        height: 20rem;
    }
     .info > i{
        visibility: hidden;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        grid-row-gap: 0px;
        font-size: 0;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-bottom: 2rem;
        text-align: center;
        height: 28rem;
    }
    .container {
        margin-top: 0;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
    }
    .cards {
        margin-bottom: 1rem;
    }
    .box {
        justify-content: center;
        width: 100%;
    }
    ul {
        gap: 1rem;
    }
  }